NODE_ENV=development

PORT=3000
API_BASE_URL=http://localhost:3000

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_DATABASE_URL=
FIREBASE_CHAT_COLLECTION=
FIREBASE_THREAD_COLLECITON=
FIREBASE_CHANNEL_COLLECTION=
FIREBASE_WA_CONFIG_COLLECTION=

WHATSAPP_VERIFY_TOKEN=
